.app {
  p {
    font-size: 20px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  &--local {
    margin-right: 10px;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    &__wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    &__placeholder {
      padding: 0 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: grey;
      height: 100px;
      text-align: center;

      p {
        color: white;
        margin: 0;
      }
    }
    &__input {
      width: 100px;
      height: 100px;
    }
    &__image {
      width: 100px;
      height: auto;
    }
    &__loading {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      p {
        font-size: 30px;
      }
    }
    &__button {
      margin-top: 10px;
      padding: 10px;
      background: #0a6fb3;
      color: white;
    }
  }
  &--remote {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    &__placeholder {
      padding: 0 40px;
      background: grey;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        color: white;
        margin: 0;
      }
    }
    &__image {
      width: 300px;
      height: auto;
    }

    &__query {
      width: 300px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }

    &__input {
      height: 20px;
      border: 1px solid;
      padding: 5px;
    }

    &__button {
      padding: 10px;
      margin-top: 10px;
      background: #0a6fb3;
      color: white;
    }
  }
}